.page__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.groups {
  display: flex;
  gap: 1em;
  padding: 1em;
  flex-wrap: wrap;
}

@media (max-width: 460px) {
  .page__wrapper{
    flex-direction: column-reverse;
    align-items: center;
  }
}
