.tags {
  width: 40ch;
  background: var(--bgColorList);
  padding: 1em;
  border-radius: 1rem;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
}

.remover {
  position: relative;
}

.remover button {
  position: absolute;
  top: -.3rem;
  width: .6rem;
  height: .6rem;
  right: 0;
  background: firebrick;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all .3s;
  background: url("../../assets/icons/tagRemove.svg") no-repeat center;
}

.remover:hover button {
  transform: scale(2);
}
