.hint {
    width: 5em;
    transition: background-color .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    border-radius: 18px 0 0 18px;
    border: 0 solid darkgrey;
    border-right-width: 1px;
}

.search {
    background-color: greenyellow;
}

.add {
    background-color: lightskyblue;
}
