.hint {
    width: 5em;
    transition: background-color .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    border-radius: .9em 0 0 .9em;
}

.search {
    background-color: greenyellow;
}

.add {
    background-color: lightskyblue;
}
