.omniButton {
  background: var(--bgColorDisabled);
  width: 6rem;
  height: 2.2rem;
  border-radius: 0 1.1rem 1.1rem 0;
  border: 0;
  cursor: pointer;
  color: var(--fontColorInverse);
}

.omniButton:disabled {
  cursor: not-allowed;
}
