.header {
  margin: auto;
  max-width: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 460px) {
  .header {
    align-items: flex-start;
    position: sticky;
    padding-top: 1rem;
    top: 0;
    background: var(--bgColorBasic);
    z-index: 10;
  }
}
