h1, h2, h3 {
  margin: auto;
  text-align: center;
  padding-bottom: 1ch;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--fontColorAccent);
}

h1::first-letter {
  color: var(--fontColorBasic);
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 480px) {
  h1, h2, h3 {
    margin: 0 1rem;
    text-align: left;
    padding-bottom: 1ch;
  }
}
